<main class="h-screen bg-indigo-900">
  <section class="h-full w-full flex justify-center items-center">
    <div class="rounded p-6 bg-red-500 text-white">
      <h1 class="font-mono text-center">Tutorial usando Redux</h1>
      <div class="flex flex-column justify-center">
        <app-my-counter></app-my-counter>
      </div>
    </div>
  </section>
</main>
