<div class="font-sans text-center my-5">Contador: {{ count$ | async }}</div>
<div class="w-full flex justify-center my-3">
  <button
    id="increment"
    class="mr-6 font-sans bg-indigo-500 rounded px-3 py-1"
    (click)="increment()"
  >
    Incrementar
  </button>
  <button
    class="font-sans bg-indigo-500 rounded px-3 py-1"
    id="decrement"
    (click)="decrement()"
  >
    Decrementar
  </button>
</div>
<button
  id="reset"
  (click)="reset()"
  class="w-full font-sans bg-red-700 rounded px-3 py-1"
>
  Resetear Contador
</button>
